@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;700&display=swap');


/*
=========================================================
                    Body style
=========================================================
*/
.side_Tab {
    text-align: center;
    width: 500px;
    height: 380px;
    float: left;
    background-color: #F5F5F5;
    padding: 0px 10px 0px 5px;
    text-align: left;
    opacity: 0.80;
    margin-top: -15px;
    position: fixed;
    z-index: 1;
}

/*
=========================================================
                  Font styles
=========================================================
*/

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.8rem;
    margin-top: 10px;
}

h4,
p,
h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;;
}
h5,
p {

    font-size: 1.5rem;
}
h4 {
    font-size: 1.7rem;
}

h3 {
    margin-top: -5px;
    margin-bottom: -2px;
}
h4, 
h1 {
    margin-bottom: -25px;
}

p {
    margin: -2px 0px -2px 0px;
}

body {
    z-index: 0;
}
a {
    text-decoration: none;
}

/*
=========================================================
                      Map Style
=========================================================
*/

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


